<manifest xmlns:android="http://schemas.android.com/apk/res/android"><uses-permission android:name="android.permission.SET_WALLPAPER"/><queries><intent><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent></queries><application android:theme="@style/AppTheme" android:label="Void Glass" android:allowBackup="false"><activity android:name=".SettingsActivity"/><activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.HOME"/><category android:name="android.intent.category.DEFAULT"/></intent-filter></activity></application></manifest>
